<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacancies-back-end</title>

    <meta name="viewport" content="wide=device-width, initial-scale=1.0"> <!-- подогнать ширну страницы под  device-width  -->

    <!-- Bootstrap connections -->
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- AngularJS стабильная версия 1.4.2 -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>


</head>

<script type="text/javascript">

    var app = angular.module("vacanciesApp", []);
    app.controller("vacanciesCtrl", function($scope, $http){
        $scope.searchFields = {
            name: "",
            specializationId: "",
            employmentId: "",
            experienceId: "",
            scheduleId: "",
            salary: "",
            page: 0
        };

        $scope.vacancies = [];

        $scope.request = 'http://localhost:8080/vacancies';
        console.log($scope.request);
        console.log($scope.searchFields);

        $scope.getVacancies = function() {

            $http({
                url: $scope.request,
                method: 'POST',
                data: $scope.searchFields
            }).then(function(response){
                $scope.vacancies = response.data;
                console.log($scope.vacancies);
            })
        }
        $scope.getVacancies();

        $scope.nextPage = function() {
            $scope.searchFields.page += 1;
            $scope.getVacancies();
            console.log($scope.request);
        }

        $scope.prevPage = function() {
            if ($scope.searchFields.page > 0) $scope.searchFields.page -= 1;
            $scope.getVacancies();
            console.log($scope.request);
        }
    });

</script>

<body ng-app="vacanciesApp" ng-controller="vacanciesCtrl">
    <div class="row">
        <div class="col-9">
            <table class="table" border="1">
                <thead class="thead-dark">
                    <tr>
                        <th>text </th>
                        <th>schedule</th>
                        <th>salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="vac in vacancies">
                        <td>{{vac.name}}</td>
                        <td>{{vac.schedule.name}}</td>
                        <td>
                            <div ng-if="vac.salary.from === null && vac.salary.to !== null">
                                Up to {{vac.salary.to}} {{vac.salary.currency}}
                            </div>
                            <div ng-if="vac.salary.from !== null && vac.salary.to === null">
                                From {{vac.salary.from}} {{vac.salary.currency}}
                            </div>
                            <div ng-if="vac.salary.from !== null && vac.salary.to !== null && vac.salary !== null">
                                From {{vac.salary.from}} to {{vac.salary.from}} {{vac.salary.currency}}
                            </div>
                            <div ng-if="vac.salary === null"> Undefined </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="column col-3">
            <div>
                <h5>Название вакансии</h5>
                <input style="width:250px;" type="text" placeholder="Название вакансии" ng-model="searchFields.name">
            </div>
            <div>
                <h5>Специализация</h5>
                <select class="style-select" style="width:250px;" ng-model="searchFields.specialization">
                    <option value="1.395">Банковское ПО</option>
                    <option value="1.400">Оптимизация сайта (SEO)</option>
                    <option value="1.420">Администратор баз данных</option>
                    <option value="1.474">Стартапы</option>
                    <option value="1.475">Игровое ПО</option>
                    <option value="1.3">CTO, CIO, Директор по IT</option>
                </select>
            </div>
            <div>
                <h5>Тип занятости</h5>
                <select class="style-select" style="width:250px;" ng-model="searchFields.employment">
                    <option value="full">Полная занятость</option>
                    <option value="part">Частичная занятость</option>
                    <option value="project">Проектная работа</option>
                    <option value="volunteer">Волонтерство</option>
                    <option value="probation">Стажировка</option>
                </select>
            </div>
            <div>
                <h5>Опыт работы</h5>
                <select class="style-select" style="width:250px;" ng-model="searchFields.experience">
                    <option value="noExperience">Нет опыта</option>
                    <option value="between1And3">От 1 года до 3 лет</option>
                    <option value="between3And6">От 3 до 6 лет</option>
                    <option value="moreThan6">Более 6 лет</option>
                </select>
            </div>
            <div>
                <h5>График работы</h5>
                <select class="style-select" style="width:250px;" ng-model="searchFields.schedule">
                    <option value="fullDay">Полный день</option>
                    <option value="shift">Сменный график</option>
                    <option value="flexible">Гибкий график</option>
                    <option value="remote">Удаленная работа</option>
                    <option value="flyInFlyOut">Вахтовый метод</option>
                </select>
            </div>
            <div>
                <h5>Зарплата</h5>
                <input style="width:250px;" type="text" placeholder="Зарплата" ng-model="searchFields.salary">
            </div>

            <div class="row" style="padding-top: 20px; padding-left: 18px;" >
                <div class="btn btn-success" style="width:250px;" ng-click="createRequest()">Принять</div>
            </div>
            <div class="row" style="padding-top: 50px; padding-left: 18px;" >
                <div class="btn btn-primary" style="width:125px;" ng-click="prevPage()">Пред.</div>
                <div class="btn btn-primary" style="width:125px;" ng-click="nextPage()">След.</div>
            </div>
        </div>
    </div>

</body>
</html>